{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="d-flex justify-content-center">
        <div class="col-sm-6">
            <form action="{{ path('app_security') }}" method="post" class="p-4 bg-light">
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-sm" placeholder="Entrer votre email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control form-control-sm" placeholder="Password">
                </div>
                <input type="hidden" name="_target_path" value="/etablissements">
                <button type="submit" class="btn btn-primary btn-block">login</button>
            </form>
        </div>
    </div>


{% endblock %}
