<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<nav class="navbar navbar-expand-lg navbar-light p-3 " style="background-color: #99908E; ">
    <!-- Barre de navigation -->
    <div class="container-fluid">
        <a class="navbar-brand " style="" href="#"><i class="bi bi-airplane"></i> FC-tourisme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link hover-underlign "href="#"><i class="bi bi-house-door-fill"></i> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_etablissements') }}"><i class="bi bi-buildings"></i> Etablissements</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


